/* Top Navbar */
.top-navbar {
  background-color: #d3d3d3;
  font-size: 14px;
  padding: 10px 20px;
}

.logo {
  width: 60px;
  height: auto;
}

.trusted-text {
  font-size: 14px;
  color: #444;
}

.nav-links .nav-link {
  color: #333;
  margin-left: 15px;
  font-weight: 500;
  text-decoration: none;
}

.login-link {
  color: #f44336; /* red shade */
  font-weight: bold;
}

/* Header Section */
.search-section {
  background-color: #ff6d5a;
  border-radius: 30px;
  margin: 20px auto;
  width: fit-content;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  color: white;
}

.search-box select,
.search-box input {
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
}

.search-box .date-input {
  width: 160px;
}

.search-btn {
  background-color: white;
  color: #ff6d5a;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
  border: none;
}

.search-btn:hover {
  background-color: #fbe6e4;
}
.nav-link button{
    color: #ca4432;
    border: none;
    background-color: #d3d3d3;
}

.model {
  /* display: none; */
  margin-left: 24%;
  width: 50%;
  height: 100%;
  z-index: 100000;
}


.model-dialog {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  margin-top: 10%;
}
.actionButtons{
  flex-wrap: nowrap;
  justify-content: space-between;
}
.actionButtons button{
  margin-left: 10%;
  width: 30%;
  margin-right: 10%;
}


