<app-navbar></app-navbar>
<div class="container py-4">
  <h2 class="text-center fw-bold">Bus Booking System</h2>

  <!-- Search Box -->
  <div class="search-box d-flex justify-content-between align-items-center flex-wrap gap-3">
    <select class="form-select w-25" name="fromLocationId" [(ngModel)]="searchObj.fromLocationId">
      <option value="">Select city</option>
      @for (item of location  ; track $index) {
        <option name="fromLocationId" [value]="item.locationId">{{item.locationName}}</option>
      }
    </select>
    <select class="form-select w-25" name="toLocationId" [(ngModel)]="searchObj.toLocationId">
      <option value="">Select city</option>
      @for (item of location ; track $index) {
        <option [value]="item.locationId">{{item.locationName}}</option>
      }
    </select>
    <input type="date" name="travelDate" class="form-control w-25" [(ngModel)]="searchObj.travelDate" [value]="searchObj.travelDate" placeholder="YYYY-MM-DD" />
    <button class="btn" (click)="searchBus()">SEARCH BUSES</button>
  </div>

  <!-- Bus List -->
  <div class="mt-4">
    <h4>Available Buses</h4>
    @if(this.spinnerLoader)
    {
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    }
    @for (item of buslist; track $index) {
    <div class="bus-card">
      <div class="row align-items-center">
        <div class="col-md-3">
          <h5 class="fw-bold mb-0">{{item.busName}}</h5>
          <small class="text-muted">A/C Sleeper (2+1)</small>
        </div>
        <div class="col-md-1 text-center">
          <strong>{{item.departureTime | date : 'HH:MM::SS'}}</strong><br />
          <small class="text-muted">Departure</small>
        </div>
        <div class="col-md-2 text-center">
          <strong>13h 55m</strong><br />
          <small class="text-muted">Duration</small>
        </div>
        <div class="col-md-1 text-center">
          <strong>{{item.arrivalTime | date : 'HH:MM:SS'}}</strong><br />
          <small class="text-muted">Arrival</small>
        </div>
        <div class="col-md-2 text-center">
          <strong>4.5 <i class="fa fa-star"></i></strong><br />
          <small class="text-muted">567 Ratings</small>
        </div>
        <div class="col-md-1 text-center">
          <strong>INR {{item.price}}</strong><br />
          <small class="text-muted">{{item.availableSeats}} Seats<br />available</small>
        </div>
        <div class="col-md-2 text-end">
          <button class="btn" [routerLink]="['/booking', item.scheduleId]">Book Seat</button>
        </div>
      </div>
      <div class="text-end mt-2 text-danger">
        <small>18-Aug</small>
      </div>
    </div>
    }
  </div>
</div>
