<div #formModel class="model" id="formModel">
  <div class="model-dialog">
    <div class="model-header">
      @if(isLogin)
      {
        <h3>SignIn</h3>
      }
      @else {
        <h3>Register</h3>
      }
    </div>
  </div>
  <div>
    @if(isLogin)
    {
    <form>
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">UserName</label>
        <input type="email"  name="userName" [(ngModel)]="newUserObj.userName" id="userName" class="form-control" />
      </div>
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" name="password" [(ngModel)]="newUserObj.password" id="NewUserPassword" class="form-control" />
      </div>
      <!-- Submit button -->
      <div class="row actionButtons">
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4" (click)="onLogin()">Sign
          in</button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-block mb-4"
          (click)="closeModel()">Cancel</button>
      </div>


      <!-- Register buttons -->
      <div class="text-center">
        <button class="btn btn-link" type="button" (click)="ShowRegisterpage()"> Register
          <!-- <p>Not a member? <a href="#!">Register</a></p> -->
        </button>
      </div>
    </form>
    }
    @else
    {
    <form>
       <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">FullName</label>
        <input type="text" name="fullName" [(ngModel)]="newUserObj.fullName" id="fullName" class="form-control" />
      </div>

       <!-- userName input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">UserName</label>
        <input type="text" name="userName" [(ngModel)]="newUserObj.userName" id="userName" class="form-control" />
      </div>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" name="emailId" [(ngModel)]="newUserObj.emailId" id="NewUserEmail" class="form-control" />
      </div>

      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
         <label class="form-label" for="form2Example2">Password</label>
        <input type="password" name="password" [(ngModel)]="newUserObj.password" id="NewUserPassword" class="form-control" />
      </div>
      <!-- Submit button -->
      <div class="row actionButtons">
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block mb-4" (click)="OnRegisterNewUser()">Register</button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary btn-block mb-4"(click)="closeModel()">Cancel</button>
      </div>


      <!-- Register buttons -->
      <div class="text-center">
        <button class="btn btn-link" type="button" (click)="Showloginpage()">
          Already Register
        </button>
      </div>
    </form>
    }
  </div>
</div>